<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about1">About Us</a></li>
        </ul>
    </nav>
     <header>
        <h1>About Us</h1>
    </header>
    <div class="container">
        <p>Welcome to our Plant Nursery Management System!</p>
        <p>At our nursery, we are dedicated to providing high-quality plants and excellent services to our customers. With years of experience in the industry, we have built a reputation for offering a wide variety of plants, including ornamental, medicinal, and herbal plants.</p>
        <p>Our mission is to promote sustainable gardening practices and help our customers create beautiful and thriving gardens. We are committed to offering expert advice, personalized recommendations, and top-notch customer service to meet the unique needs of every gardener.</p>
        <p>Whether you're a seasoned gardener or just getting started, our knowledgeable staff is here to assist you every step of the way. We invite you to explore our nursery and discover the wonderful world of plants!</p>
        <div class="image-container">
            <img src="h1.jpg" alt="Plant 1">
            <img src="h2.jpg" alt="Plant 2">
            <img src="h3.jpg" alt="Plant 3">
        </div>
    </div>
</body>
</html>
