<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <style>
        /* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

    </style>
</head>
<body>
    <h1>Cart</h1>
    <ul>
        {{#each cartItems}}
            <li>{{this.plantName.name}} - ${{this.plantName.price}} (Quantity: {{this.quantity}})</li>
        {{/each}}
    </ul>
    <form action="/checkout" method="post">
        <button type="submit">Proceed to Checkout</button>
    </form>
    <a href="/catalog">Continue Shopping</a>
</body>
</html>
