<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="cstyles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <header>
        <h1>Contact Us</h1>
    </header>
    
       <div class="container">
    <div class="content">
        <h2>Visit Us</h2>
        <p>123 Greenway Blvd, Tirunelveli, TamilNadu, 627358</p>
        
        <h2>Email Us</h2>
        <p>Email: info@mulchingmastery.com</p>

        <h2>Call Us</h2>
        <p>Phone: 9874561230 | 8796521044</p>
        <h2>Owners</h2>
        <p>Dharani           | Muthulakshmi</p>
       
    </div>
   <div class="image-container">
 <img src="d.png" alt="Dharani" class="logo">
        <img src="m3.jpg" alt="Muthu" class="logo">
    <!--    <img src="h.jpg" alt="Mulching Mastery" class="logo">    -->

    </div>  
</div>

</body>
</html>
