<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
    <h1>Login Form</h1>

    <form action="/login" method="post" >
       
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
         <input placeholder="Role" name="role" type="text">
        <br>
        <input class="sub" type="submit">
        <br>
     <h3>Don't have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html>