<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CHOOSE HERE</title>
<style>
    body {
    font-family: Arial, sans-serif;
    background-image: url('blurred-spring-background-nature-with-blooming-glade-generative-ai-technology-free-photo.jpg');
    background-repeat: no-repeat;
    
}
.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 50px;
    background-color: rgba(0, 255, 0, 0.2);
    background-image: url('/LogInSignUpTutorial/img/josh-sorenson-FPVzkHF3wgM-unsplash.jpg');/* Add your image path here */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(174, 171, 171, 0.1);
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary {
    background-color: #525655;
    color: #fff;
}
.btn-primary:hover {
    background-color: #676c6e;
}
.btn-danger {
    background-color: #b1a8a9;
    color: #fff;
}
.btn-danger:hover {
    background-color: #bbafb0;
}
.btn-success {
    background-color: #b4c0b6;
    color: #fff;
}
.btn-success:hover {
    background-color: #b0b9b2;
}
.btn-logout {
    background-color: #a7afb5;
    color: #fff;
}
.btn-logout:hover {
    background-color: #b1b8bd;
}
.btn-display {
    background-color: #bbb7ad;
    color: #fff;
}
.btn-display:hover {
    background-color: #bab6aa;
}
</style>
</head>
<body>
<div class="container">
    <h2>MULCHING MASTERY NURSERY!!!</h2>
    <h3>CHOOSE HERE</h3>
     <button class="btn btn-primary"  onclick="goToAdminPage()">Admin</button>
     <script>

    function goToAdminPage() {
        window.location.href = "/view"; // Change 'insert.html' to the actual URL of your insert page
    }
</script>
    <button class="btn btn-primary"  onclick="goToUserPage()">User</button>
   <script>

    function goToUserPage() {
        window.location.href = "/userview"; // Change 'insert.html' to the actual URL of your insert page
    }
</script>
<button class="btn btn-primary"  onclick="goToLoginPage()">Back</button>
   <script>

    function goToLoginPage() {
        window.location.href = "/login"; // Change 'insert.html' to the actual URL of your insert page
    }</script>
</div>
</body>
</html>
