<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CHOOSE HERE</title>
<link rel="stylesheet" href="view.css">
</head>
<body>
<div class="container">
    <h2>WELCOME TO MULCHING MASTERY NURSERY!!!</h2>
    <h3>CHOOSE HERE</h3>
     
    <button class="btn btn-primary" onclick="goToDisplayPage()">Display</button>
        <script>

    function goToDisplayPage() {
        window.location.href = "/display"; // Change 'insert.html' to the actual URL of your insert page
    }
</script>
<button class="btn btn-primary" onclick="goToOrderPage()">Order</button>
    <script>

    function goToOrderPage() {
        window.location.href = "/order"; // Change 'insert.html' to the actual URL of your insert page
    }
</script>
    <button class="btn btn-primary" onclick="goToLoginPage()">Logout</button>
      <script>

    function goToLoginPage() {
        window.location.href = "/login"; // Change 'insert.html' to the actual URL of your insert page
    }
</script>
</div>
<div class="image-container">
            <img src="c1.png" alt="Image 1">
            <img src="c2.png" alt="Image 2">
            <img src="c3.png" alt="Image 3">
            <img src="c4.png" alt="Image 4">
            <!-- Add more images here -->
        </div>
</body>
</html>